<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <form th:action="@{/user/login}" th:object="${siteUserLoginForm}" method="post" id="signin-form" class="form p-4 bg-light rounded-3 center">
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                아이디 혹은 비밀번호가 올바르지 않습니다.
            </div>
        </div>
<!--        <input type="hidden" name="next" value="{{ request.args.get('next', '') }}"/>-->
        <h3 class="form-header mb-2">로그인</h3>
        <div class="form-group mb-2">
            <label for="email" class="mb-1">이메일 ID</label>
            <input type="text" name="username" id="email" class="form-control" placeholder="이메일 ID">
        </div>
        <div class="form-group mb-3">
            <label for="password" class="mb-1">비밀번호</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="비밀번호">
        </div>
<!--        <div class="form-check mb-3">-->
<!--            <input class="form-check-input" type="checkbox" name="saveId" id="saveId"/>-->
<!--            <label for="saveId" class="form-check-label">-->
<!--                아이디 저장-->
<!--            </label>-->
<!--        </div>-->
        <button class="btn btn-primary btn-block my-2" type="submit">로그인</button>
        <div class="d-flex justify-content-end">
            <a class="text-muted pr-2" th:href="@{/user/signup}">회원가입</a>
<!--            <a class="text-muted" href="{{ url_for('auth.search_pw') }}">비밀번호 찾기</a>-->
        </div>
    </form>
</div>
</html>