<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <form th:action="@{/user/signup}" th:object="${siteUserCreateForm}" method="post" id="signup-form" class="form mx-5 p-5 bg-light rounded-3">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <h3 class="form-header">회원가입</h3>
        <div class="form-group mb-3">
            <label for="email" class="mb-2">이메일 ID</label>
            <input type="email" th:field="*{email}"class="form-control" placeholder="이메일 ID">
            <small class="form-text text-muted">비밀번호 찾기에 이용되오니, 정확한 이메일을 입력해주세요!</small>
        </div>
        <div class="form-group mb-3">
            <div>
                <label for="password1" class="mb-2">비밀번호 (6자 이상)</label>
                <input type="password" th:field="*{password1}" class="form-control" placeholder="비밀번호">
            </div>
            <div>
                <input type="password" th:field="*{password2}" class="form-control" placeholder="비밀번호 확인">
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="name" class="mb-2">서버<b>@</b>닉네임</label>
            <div class="input-group mb-3">
                <select name="server" id="server" class="form-control">
                    <option value="">서버를 선택하세요.</option>
                    <option value="류트">류트</option>
                    <option value="하프">하프</option>
                    <option value="울프">울프</option>
                    <option value="만돌린">만돌린</option>
                </select>
                <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                </div>
                <input type="text" th:field="*{name}" class="form-control" placeholder="닉네임">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">가입</button>
    </form>
</div>
</html>